.hidden {
    display: none;
  }

  .visible {
    display: block;
    top: 5%;
    right: 5%;
    width: 64px;
    height: 64px;
    position: absolute;
    z-index: 2147483647;
    background: url("close.png");
    background-size: contain;
    background-repeat: no-repeat;
  }

  .fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2147483645;
  }
